#include "resources.h"

#include <windows.h>

/* Icons */ 
IDI_ICON_GK         ICON        "gamekiller.ico"


/* Sound FX */
IDR_SFX_SUCCESS     WAVE        "dsswtchn.wav"
IDR_SFX_FAILURE     WAVE        "dsnoway.wav"


/* Settings dialog */
IDD_SETTINGS DIALOGEX 0, 0, 150, 54
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "GameKiller - Settings"
FONT 9, "Segoe UI"
BEGIN
    AUTOCHECKBOX    "Enable sound effects",             IDC_SOUND_FX,   8,  5, 125, 10
    AUTOCHECKBOX    "Enable <Ctrl+Alt+F12> hotkey",     IDC_HOTKEY,     8,  15, 125, 10
    DEFPUSHBUTTON   "Close",                            IDC_CLOSE,      90, 30,  50, 15
END